<a id="fancontrol_indicator" class="pull-right" title="Toggle fan" href="#" data-bind="click: function() { loginState.isUser() && $root.togglefan(); }, visible: (isfanOn() !== undefined)" style="display: none">
    <i class="fas fa-fan"></i>
</a>
